body {
  font-family: Tahoma;
  margin: 0;
}

body.urgent {
  background-color: #e74c3c;
}

body.normal {
  background-color: #f1c40f;
}

body.future {
  background-color: #2ecc71;
}

div.container {
  width: 1010px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.well {
  min-height: 20px;
  height: 296px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#video-container {
  width: 528px;
  float: left;
  margin-right: 20px;
}

#video-container video {
  width: 528px;
}

#chunks-bar {
  float: left;
  width: 420px;
}

div.chunk {
  height: 13px;
  min-width: 13px;
  display: inline-block;
  margin-right: 3px;
  background-color: #ededed;
  border: 2px solid #ededed;
}

.chunk.buffered {
  border: 2px solid #123123 !important;
}

div.chunk.discarded {
  background-color: black !important;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

#timeline,
#timeline ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: auto;
}

#timeline {
  background: white;
}

#topics {
  float: left;
  padding: 0px;
  width: 220px;
}

#timeline .topics-inner {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.topic-table {
  border-bottom: 1px solid #ECECEC;
  height: 34px;
  margin: 0px;
  padding: 8px 0px 12px 10px;
  font-size: 14px;
}

.topic-table.inactive {
  background-color: #ECECEC;
}

.topic-table:last-child {
  border-bottom: none;
}

.topic-table div.local,
.topic-table div.remote {
  width: 5px;
  height: 39px;
  float:left;
}

.topic-table div.local-unchoked,
.topic-table div.remote-unchoked {
  background-color: black;
}

.topic-table div.inner {
  width: 181px;
  float:left;
}

.topic-table span {
  display: inline-block;
  padding: 9px;
  color: white;
  border: none !important;
}

.topic-table span.name {
  width: 55px;
}

.topic-table span.number {
  padding-left: 0;
  width: 30px;
  text-align: center;
}

.topic-table span.statistic {
  padding-left: 0;
  width: 60px;
  text-align: center;
}

#activities {
  float: left;
  padding: 0px;
  width: 788px;
}

.activities-inner {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-x: scroll;
}

.activity-table {
  border-bottom: 1px solid #ECECEC;
  display: table;
  padding: 10px 0px 10px 10px;
}

.activity-table.inactive {
  background-color: #ECECEC;
}

.activity-table:last-child {
  border-bottom: none;
}

.activity-row {
  display: table-row;
}

.activity {
  display: table-cell;
  height: 34px;
  min-width: 80px;
  max-width: 80px;
  padding-right: 10px;
  text-align: center;
  font-size: 11px;
}

.up,
.down {
  line-height: 17px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap;
}

.up {
  background: #ECECEC;
}

.down {
  background: #CACACA;
}

.table {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 10px;
}

.table-heading {
  border-bottom: 1px solid rgb(0, 51, 153);
  font-weight: bold;
  margin: 0px;
  padding: 15px 10px;
}

div.clearfix {
  clear: both;
}

.grey {
  background-color: #ECECEC !important;
  border: 2px solid #ECECEC;
}

.blue1 {
  background-color: #0579E8 !important;
  border: 2px solid #0579E8;
}

.blue2 {
  background-color: #0CE8A3 !important;
  border: 2px solid #0CE8A3;
}

.blue3 {
  background-color: #0CB4E8 !important;
  border: 2px solid #0CB4E8;
}

.blue4 {
  background-color: #05E8DF !important;
  border: 2px solid #05E8DF;
}

.blue5 {
  background-color: #0D86FF !important;
  border: 2px solid #0D86FF;
}

.blue6 {
  border: 2px solid #07C7FF !important;
  background-color: #07C7FF;
}

.turquoise {
  background-color: #1abc9c !important;
  border: 2px solid #1abc9c;
}

.wet-asphalt {
  background-color: #34495e !important;
  border: 2px solid #34495e;
}

.green-sea {
  background-color: #16a085 !important;
  border: 2px solid #16a085;
}

.nephritis {
  background-color: #27ae60 !important;
  border: 2px solid #27ae60;
}

.belize-hole {
  background-color: #2980b9 !important;
  border: 2px solid #2980b9;
}

.wisteria {
  background-color: #8e44ad !important;
  border: 2px solid #8e44ad;
}

.midnight-blue {
  background-color: #2c3e50 !important;
  border: 2px solid #2c3e50;
}

.sun-flower {
  background-color: #f1c40f !important;
  border: 2px solid #f1c40f;
}

.carrot {
  background-color: #e67e22 !important;
  border: 2px solid #e67e22;
}

.clouds {
  background-color: #ecf0f1 !important;
  border: 2px solid #ecf0f1;
}

.concrete {
  background-color: #95a5a6 !important;
  border: 2px solid #95a5a6;
}

.pumpkin {
  background-color: #d35400 !important;
  border: 2px solid #d35400;
}

.pomegranate {
  background-color: #c0392b !important;
  border: 2px solid #c0392b;
}

.silver {
  background-color: #bdc3c7 !important;
  border: 2px solid #bdc3c7;
}

.asbestos {
  border: 2px solid #07C7FF !important;
  background-color: #07C7FF;
}

