<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>stream.io</title>
    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>

  <body>
    <div class="container">
      <h1>
        <span>stream.io |<span>
        <span id="title-id"><span>
      </h1>

      <section class="well">
        <div class="group">
          <div id="video-container">
            <video autoplay controls muted></video>
          </div>

          <div id="chunks-bar"></div>
        </div>
      </section>

      <section id="timeline" class="well">
        <ul class="table group">
          <li id="topics">
            <ul class="topics-inner">
            </ul>
          </li>
          <li id="activities">
            <ul class="activities-inner"></ul>
          </li>
        </ul>
      </section>
    </div>

    <script>
      var FRONT_ENABLED = <%= (frontEnabled !== 'false') %>;
    </script>

    <script data-main="/js/main.js" src="/js/vendor/require.js"></script>
    <!--<script src="/js-build/js/main.js"></script>-->
  </body>

</html>
